body {
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

h1 {
    font-weight: 300;
    padding: 0;
    margin: 0 0 0 0;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
b {
    font-weight: 400;
}
p {
    margin: 0;
    padding: 0;
}
a {
    margin: 0;
    padding: 0;
}

p {
    font-weight: 300;
}

.space {
    width: 60%;
    margin: 5% auto;
    max-width: 1000px;
}

#name {
    margin-bottom: 4px;
}

.last-updated {
    margin-top: 10px;
    color: #5c5c5c;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.toggle {
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    justify-content: space-evenly;
}

.toggle h5 {
    margin: 2px;
    cursor: pointer;
}

.toggle h5:hover {
    color: #4f4f4f;
}

.item h4 {
    margin-bottom: 40px;
}

.about {
    display: block;
}

.about p {
    color: #4f4f4f;
}

.experience {
    display: none;
}

.exp-item {
    border-top: 0.5px solid #cfcfcf;
    margin: 20px 0 50px 0;
}

.exp-item h6 {
    margin: 6px 0 5px 0;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.exp-item h5 {
    margin: 8px 0 12px 0;
    font-size: 15px;
}

.exp-item p {
    color: #4f4f4f;
}

.exp-item-date {
    color: #5c5c5c;
    font-size: 11px;
    font-weight: 300;
    margin: 10px 0 0 0;
    font-family: 'Open Sans', sans-serif;
}

.exp-item-location {
    color: #5c5c5c;
    font-size: 11px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.projects {
    display: none;
}

.education {
    display: none;
}

.edu-courses {
    margin: 80px 0;
}

.edu-course-work {
    justify-content: space-evenly;
}

.edu-course-work ul {
    text-decoration: none;
}

@media (max-width: 700px) {
    .space {
        margin-top: 10%;
        width: 80%;
    }
}
